.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(242, 247, 248);
  width: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


/* Each component */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
.profile_share{
  /* position: relative; */
}
.share_icon{
  position: absolute;
  width: 50px;
  top: 7%;
  right: 10%;
  cursor: pointer;
}
.share_icon:hover{
  /* visibility: hidden; */
}

.btn_div{
  margin-bottom: 100px;
}
.btns{
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  
}

.btns button{
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 8px;

  color: #535353;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1px;
  cursor: pointer;
  transition: all .5s;
}

.btns button:hover{
  opacity: .4;
}

.btns_subtext{
  font-weight: 100;
  font-size: .8rem;
}

.slack_git{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .75s;
  margin-top: 1.5rem;
}

.slack_git img:hover{
  transform: scale(1.2);
}

.footer{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  color: #888888;
}

.footer img{
  width: 25%;
}

@media only screen and (max-width: 1200px) {
 #root,
 .App{
  width: 100%;
  margin: 0%;
 }

  .footer{
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .btns{
    width: 880px;
  }
}
@media only screen and (max-width: 992px) {
  .btns{
    width: 720px;
  }
}

@media only screen and (max-width: 830px) {
  .btns{
    width: 620px;
  }
}
@media only screen and (max-width: 720px) {
  .btns{
    width: 520px;
  }
}
@media only screen and (max-width: 580px) {
  .btns{
    width: 480px;
  }
}
@media only screen and (max-width: 520px) {
  .btns{
    width: 400px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-bottom: 3rem;
  }
  .footer img{
    width: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .btns{
    width: 375px;
  }
  .btn_div{
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 375px) {
  body{
    min-width: 375px;
  }
  .btns{
    min-width: 100%;
  }
}


